/TP2/AfternoonAtRace_Dist/nbproject/private/
/TP2/AfternoonAtRace_GeneralRepository/nbproject/private/
/TP2/AfternoonAtRace_BettingCenter/nbproject/private/
/TP2/AfternoonAtRace_ControlCenter/nbproject/private/
/TP2/AfternoonAtRace_Paddock/nbproject/private/
/TP2/AfternoonAtRace_RaceTrack/nbproject/private/
/TP2/AfternoonAtRace_Stable/nbproject/private/
/TP2/AfternoonAtRace_Broker/nbproject/private/
/TP2/AfternoonAtRace_Spectators/nbproject/private/
/TP2/AfternoonAtRace_HorseJockey/nbproject/private/
/TP2/BrokerClient/nbproject/private/
/TP2/HorseJockeyClient/nbproject/private/
/TP2/SpectatorClient/nbproject/private/
/TP2/StableServer/nbproject/private/
/TP2/ControlCenterServer/nbproject/private/
/TP2/PaddockServer/nbproject/private/
/TP2/RaceTrackServer/nbproject/private/
/TP2/BettingCenterServer/nbproject/private/
/TP2/GenReposServer/nbproject/private/
