/TP2/BrokerClient/nbproject/private/
/TP2/HorseJockeyClient/nbproject/private/
/TP2/SpectatorClient/nbproject/private/
/TP2/StableServer/nbproject/private/
/TP2/ControlCenterServer/nbproject/private/
/TP2/PaddockServer/nbproject/private/
/TP2/RaceTrackServer/nbproject/private/
/TP2/BettingCenterServer/nbproject/private/
/TP2/GenReposServer/nbproject/private/
/TP2/BettingCenterServer/build/
/TP2/GenReposServer/build/
/TP2/BrokerClient/build/
/TP2/ControlCenterServer/build/
/TP2/PaddockServer/build/
/TP2/SpectatorClient/build/
/TP2/RaceTrackServer/build/
/TP2/StableServer/build/
/TP2/BettingCenterServer/dist/
/TP2/GenReposServer/Log.txt
